@font-face {
  font-family: "Passio";
  src: url("assets/Passio-Graphis.otf") format("opentype");
}


*{
  font-family: 'Passio';
  font-weight: bold;
}



#canvas{
  position: absolute;
  z-index: -3;
  visibility: hidden;
  border: 1px solid red;


}


#webcam{
  position: absolute;
  z-index: -3;
  visibility: hidden;
  border: 1px solid red;
}

.info{
  top:10vh;
  font-family: "Passio";
  position: absolute;
  color: white;
  align-items: center;
  font-size: 2em;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.banner{
  margin-right: 2em;
  color:red;

}

.hide{
  visibility: hidden;
}

#reset{
  font-family: "Tapeworm";
  position: absolute;
  color:#4AF626;
  margin: auto;
  left: 200px;
  top: 80vh;
  font-size: 5em;
  -webkit-animation: resetAnim 5s ease-out;
  -webkit-animation-iteration-count: infinite;
   text-shadow: 2px 2px #ff0000;
  z-index: 3;
}
